@media screen and (max-width: 900px) {
	.mobileBtn {
		align-items: center;
		justify-content: center;
		width: 80%;
	}

	.liSmall {
		width: 80px;
		display: flex;
	}
}

.test-warning {
	text-align: center;
	color: red;
	margin-top: 40px;
	font-size: 24px;
}
